@media screen and (max-width: 970px) {
    #navBar {
        display: none;
    }
    #contactBtn {
        display: none;
    }
    #navWrapper {
        display: flex;
        justify-content: end !important;
    }
    /* #shortNavBar {
        display: block;
    } */
}

@media screen and (min-width: 971px) {
    #shortNavBar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #buyLine {
        display: flex;
        flex-direction: column;
    }

    #sellLine {
        display: flex;
        flex-direction: column;
    }

    #paragraphLine {
        display: flex;
        flex-direction: column;
    }

    #testimonials {
        display: flex;
        flex-direction: column;
    }

    #planWrapper {
        display: flex;
        flex-direction: column;
    }

    #footerWrapper {
        display: flex;
        flex-direction: column;
    }

    .tradingView {
        width: 80% !important;
    }

    .entryLine {
        display: flex;
        flex-direction: column;
    }

    .pairList {
        margin-right: 0px !important;
        margin-bottom: 15px;
    }

    #apiKey {
        margin-right: 0px !important;
        margin-bottom: 15px;
    }

    #authorization {
        margin-right: 0px !important;
        margin-bottom: 15px;
    }

    #accountName {
        margin-right: 0px !important;
        margin-bottom: 15px;
    }
}

#navWrapper {
    display: flex;
    justify-content: center;
}

#response {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    max-width: 40%;
    min-width: 300px;
    margin: auto;
}

#reverseBtn {
    max-width: 100px;
    min-width: 100px;
    height: 40px;
    border: 1px solid #0c0c0c;
    border-radius: 8px;
    background: transparent;
}

#reverseBtn:hover {
    background: #1db6e8;
}

#sellAllBtn {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    max-width: 100px;
    min-width: 100px;
    height: 40px;
    border: 1px solid #0c0c0c;
    border-radius: 8px;
    background: transparent;
}

#sellAllBtn:hover {
    background: #1db6e8;
}

#addAccBtn {
    max-width: 150px;
    min-width: 150px;
    height: 40px;
    border: 1px solid #0c0c0c;
    border-radius: 8px;
    background: transparent;
    margin-bottom: 20px;
}

#addAccBtn:hover {
    background: #1db6e8;
}

.accountList {
    max-width: 50%;
    min-width: 300px;
    margin-right: 4px;
    padding: 5px;
    border: 1px solid;
}

/*loader*/
.loader_website {
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
  
    -webkit-transition: ease-in-out 0.1s;
    -moz-transition: ease-in-out 0.1s;
    -o-transition: ease-in-out 0.1s;
    -ms-transition: ease-in-out 0.1s;
    transition: ease-in-out 0.1s;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  
    animation: loader_show 0.2s ease;
  }
  
  .loader_website * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body.loader .loader_website span {
    top: 40%;
  }
  
  .loader_website>span {
    display: block;
    width: 48px;
    height: 48px;
    padding: 4px;
    background-color: #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    top: -50px;
  
    -webkit-transition: ease-in-out 0.1s;
    -moz-transition: ease-in-out 0.1s;
    -o-transition: ease-in-out 0.1s;
    -ms-transition: ease-in-out 0.1s;
    transition: ease-in-out 0.1s;
  
    -webkit-box-shadow: #000 0px 5px 10px -5px;
    -moz-box-shadow: #000 0px 5px 10px -5px;
    -o-box-shadow: #000 0px 5px 10px -5px;
    -ms-box-shadow: #000 0px 5px 10px -5px;
    box-shadow: #000 0px 5px 10px -5px;
  }
  
  .loader_website>span>svg {
    fill: transparent;
    stroke: #1a73e8;
    stroke-width: 5;
    animation: loader_dash 2s ease infinite, loader_rotate 2s linear infinite;
  }
  
  .loader_website>span.ios {
    height: 48px;
    width: 48px;
    animation: none;
  
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
  }
  
  .loader_website span.ios>svg {
    fill: #1a73e8;
    stroke-width: 0;
    animation: none;
    height: 100%;
    width: 100%;
  }
  
  .loader_website>span.ios>svg path:nth-of-type(1) {
    animation: loader_pulse 1s infinite linear;
  }
  
  .loader_website>span.ios>svg path:nth-of-type(2) {
    animation: loader_pulse 1s -.083s infinite linear;
  }
  
  .loader_website>span.ios>svg path:nth-of-type(3) {
    animation: loader_pulse 1s -.166s infinite linear;
  }
  
  .loader_website>span.ios>svg path:nth-of-type(4) {
    animation: loader_pulse 1s -.249s infinite linear;
  }
  
  .loader_website>span.ios>svg path:nth-of-type(5) {
    animation: loader_pulse 1s -.332s infinite linear;
  }
  
  .loader_website>span.ios>svg path:nth-of-type(6) {
    animation: loader_pulse 1s -.415s infinite linear;
  }
  
  .loader_website>span.ios>svg path:nth-of-type(7) {
    animation: loader_pulse 1s -.498s infinite linear;
  }
  
  .loader_website>span.ios>svg path:nth-of-type(8) {
    animation: loader_pulse 1s -.581s infinite linear;
  }
  
  .loader_website>span.ios>svg path:nth-of-type(9) {
    animation: loader_pulse 1s -.664s infinite linear;
  }
  
  .loader_website>span.ios>svg path:nth-of-type(10) {
    animation: loader_pulse 1s -.747s infinite linear;
  }
  
  .loader_website>span.ios>svg path:nth-of-type(11) {
    animation: loader_pulse 1s -.83s infinite linear;
  }
  
  .loader_website>span.ios>svg path:nth-of-type(12) {
    animation: loader_pulse 1s -.913s infinite linear;
  }
  
  @keyframes loader_dash {
    0% {
      stroke-dasharray: 1, 95;
      stroke-dashoffset: 0;
    }
  
    50% {
      stroke-dasharray: 85, 95;
      stroke-dashoffset: -25;
    }
  
    100% {
      stroke-dasharray: 85, 95;
      stroke-dashoffset: -93;
    }
  }
  
  @keyframes loader_rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader_pulse {
    50% {
      fill: #1a73e8;
    }
  
    to {
      fill: rgba(26, 115, 232, .4);
    }
  }
  
  @keyframes loader_show {
    0% {
      opacity: 0;
  
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
  
    100% {
      opacity: 1;
  
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  
  /*loader*/

.selectLeverage {
    max-width: 50%;
    min-width: 300px;
    margin-right: 4px;
    padding: 5px;
    border: 1px solid;
}

.addAccount {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#response p {
    text-align: center;
    border: 1px solid #1db6e8;
    padding: 15px;
    border-radius: 8px;
    color: white;
}

.entryPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entryLine {
    display: flex;
    margin-bottom: 15px;
}

#apiKey {
    margin-right: 5px;
    margin-left: 5px;
}

#secretKey {
    margin-right: 5px;
    margin-left: 5px;
}

#authorization {
    margin-right: 5px;
    margin-left: 5px;
}

#accountName {
    margin-right: 5px;
    margin-left: 5px;
}

.inputField {
    min-width: 300px;
    max-width: 50%;
    margin: auto;
    padding: 5px 5px 5px 20px;
    border: 1px solid;
    height: 49px;
}

.buyLong {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

#buyLongContent {
    width: 320px;
}

.buyShort {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

#buyShortContent {
    width: 320px;
}

.sellLong {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

#sellLongContent {
    width: 320px;
}

.sellShort {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

#sellShortContent {
    width: 320px;
}

.pairList {
    max-width: 50%;
    min-width: 300px;
    margin-right: 4px;
    padding: 5px;
    border: 1px solid;
}

.tradingView {
    width: 60%; 
    height: 600px; 
    align-items: center; 
    display: flex; 
    justify-content: center; 
    margin: auto;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 60px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0c0c0c;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -69px;
    border-radius: 8px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 8px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #1d1919;}
  
  .show {display: block;}